<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>More Than Devs - Birdy</title>
    <meta charset="utf-8" />

        <!-- CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/birdyStyle.css" />
        <link rel="stylesheet" href="assets/baseStyle.css" />
</head>

<!-- Page-->

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- Application & holder -->
    <div id="birdyApp" className="container"></div>
    <script src="/birdySPA.js"></script>

</body>

</html>