<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>Martin Erlandsson</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/martinStyle.css" />
    <link rel="stylesheet" href="assets/baseStyle.css" />

</head>

<!-- Page-->
<body class="w3-content" style="max-width:1300px">

    <!-- Application & holder -->
    <span id="martinApp"></span>
    <script src="/martinSPA.js"></script>

</body>

</html>