<!DOCTYPE html>
<html>

<head>

    <!-- Title -->
    <title>More Than Devs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/moreStyle.css" />
    <link rel="stylesheet" href="assets/baseStyle.css" />

</head>

<!-- Page-->
<body>

    <!-- Application & holder -->
    <span id="moreApp"></span>
    <script src="/moreSPA.js"></script>

</body>

</html>